.button {
  min-width: 140px;
  width: auto;
  height: 50px;
  border-radius: 10px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 18px;
  color: ;
  background-color: rgb(190, 204, 216);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin: 10px;
}

.buttons {
  display: flex;
}
